03_Firmware/Application/OTA_APP/Core/Src/usart.c whitespace=cr-at-eol
03_Firmware/Application/OTA_APP/OTA_APP.ioc whitespace=cr-at-eol
03_Firmware/Application/OTA_APP/MDK-ARM/OTA_APP.uvprojx whitespace=cr-at-eol
